  <div class="card">
      <div class="card-content">
          <span class="card-title"><%= post.user.name %></span>
          <span><%= post.created_at %></span>
          <p class="pre-line"><%= post.content %></p>
          <p><%= post.content %></p>
      </div>

      <div class="card-action">
          <%= post.likes.size %> likes your post
          <% if current_user.is_like(post) %>
            <%= link_to "Unlike", post_like_path(post), method: "post" %>
          <% else %>
            <%= link_to "Like", post_like_path(post), method: "post" %>
          <% end %>

          <% if current_user.id == post.user_id %>
            <%= link_to "Remove", post_path(post), method: "delete", class:  "right" %>
            <%= link_to "Modify", edit_post_path(post), class: "right" %>
          <% end %>
          <a href="#">Make a comment</a>
      </div>
  </div>
